**/*.o
**/*.cmi
**/*.cmo
**/*.cmx
**/*.cma
**/*.cmxa
**/*.byte
**/*.native
**/*.elf
**/*.pic32_elf
**/*.avr
**/*.hex
**/*.nwa
**/*.elf.dSYM
**/*~
**/.*.swp
.build/
.vscode/
node_modules/
config.ml
src/byterun/prims/eadk.h
src/byterun/prims/storage.c
src/byterun/prims/storage.h
**/*.log
**/_opam/
targets/numworks/tests/repl/